/*-------CSS Demo-------*/


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*----------- Utility Styles-------*/

.container{
    width: 80vw;
    margin: 40px auto;
    max-width: 900px;
    
}
/*---------- responsive images---------*/

.img-right{
  float:right;
  padding:5px;
  border:1px solid #c0c0c0;
  margin: 10px 0 10px 20px;
}

.img-left{
  float:left;
  padding:5px;
  border:1px solid #c0c0c0;
  margin: 10px 20px 10px 0;
}

.img-center{
  display:block;
  padding:5px;
  border:1px solid #c0c0c0;
  margin: 20px auto;
}







img{ 
  max-width:100%;
  height: auto;
}




/* ---------------Global Styles----------------- */
body{
  font-family: 'Amiko', sans-serif;
  margin:0;
  color: #F7FFFE;
}

header.primary{
background-image:
radial-gradient(closest-side, transparent 0%, transparent 75%, #0C61F8 76%, #0C61F8 85%, #0CF890 86%, #0CF890 94%, #A7A9AC 95%, #A7A9AC 103%, #0B8BD9 104%, #0B8BD9 112%, #0BD9B8 113%, #0BD9B8 121%, #A7A9AC 122%, #A7A9AC 130%, #00D4F0 131%, #00D4F0 140%),
radial-gradient(closest-side, transparent 0%, transparent 75%, #0C61F8 76%, #0C61F8 85%, #0CF890 86%, #0CF890 94%, #A7A9AC 95%, #A7A9AC 103%, #0B8BD9 104%, #0B8BD9 112%, #0BD9B8 113%, #0BD9B8 121%, #A7A9AC 122%, #A7A9AC 130%, #00D4F0 131%, #00D4F0 140%);
background-size: 110px 110px;
background-color: #0CF890;
background-position: 0 0, 55px 55px;
  text-align:center;
  color:#ffffff;
  text-shadow: 2px 2px #000;
  /* Longform */
  padding-top:40px;
  padding-right:40px;
  padding-bottom:20px;
  padding-left:40px;
  
  /* Shorthand Top/Bottom, Left/Right */
  padding: 20px 40px;
  
  /* Shorthand  T,R,B,L */
  padding: 40px 40px 20px 40px;

}

header.primary h1{
  font-family: Shrikhand, cursive;
  font-size:3.2rem;
  font-weight: 900;
  margin: 20px 0;
  letter-spacing: 2px;
  text-shadow: 5px 5px #000000;
}

header.primary h1 a{
  text-decoration:none;
  color:#00D4F0;
}

header.primary h2{
  font-family: 'Suez One', serif;
  font-size:2rem;
  margin:20px auto 40px;
  color:#00D4F0;
  text-shadow: 4px 4px 3px  #000000;
}


header.primary nav{
  font-family: 'Shrikhand', cursive;
  width:80vw;
  margin: 20px auto;
  max-width: 900px;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding:0;
}

header.primary nav ul li{
  list-style-type:none;
  padding:10px;
}

header.primary nav ul li a:link, header.primary nav ul li a:visited{
  color:#ffffff;
  text-decoration:none;
  background-color:#000000;
  background-color:rgba(0,0,0,.4);
  padding: 8px 16px;
  border-radius:20px;
  transition:.5s;
}


header.primary nav ul li a:hover, header.primary nav ul li a:active{
  background-color:rgba(0,0,0,.8);
}

#intro{
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 1.5em;
  
}

#intro p{
  line-height: 1.5em;
}

#intro h2{
  color: #0BD9B8;
  text-transform: uppercase;
}

#container h2{
  color:#0BD9B8;
  font-weight: bold;
}






#content{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  border-bottom: 5px groove #00D4F0;
  padding-bottom: 2.5em;
}

#content article.post{
  width:23vw;
  box-shadow: 0 4px 5px rgba(0,0,0,.4);
  padding:20px;
  transition:.6s;
  color:#F7FFFE;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
}

#content article.post figure{
  margin:10px 0;
}

#content article.post a{
color: #0B8BD9;
}

#content article.post a:hover{
text-decoration:none;
}

#content article.post p{
  font-size:.8em;
  color: #fffff;
}

#content article time, #content article figcaption, article.post footer{
  font-size:.8em;
  color: #fff;
  text-transform: uppercase;
}

#content article img{
  border-radius: 4px;
}

.post a:link, .post a:visited{
  color:;
}




aside[role="complementary"] {
  background-color:#ad950a;
  color:#fff;
  padding: 2.5rem;
}

aside h2{
  color:#0BD9B8;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

aside article.widget{
  width:40%;
}

aside a:link,aside a:vistied{
  color:#fff;
  display: block;
  margin-top:20px;
  letter-spacing: 1.5px;
}

aside a:hover, aside a:active{
  text-decoration: none;
}

aside a:hover, aside a:active{
  text-decoration:none;
}

aside article footer{
  display: none;
}




footer#colophon{
  background-image:
  radial-gradient(closest-side, transparent 0%, transparent 75%, #0C61F8 76%, #0C61F8 85%, #0CF890 86%, #0CF890 94%, #A7A9AC 95%, #A7A9AC 103%, #0B8BD9 104%, #0B8BD9 112%, #0BD9B8 113%, #0BD9B8 121%, #A7A9AC 122%, #A7A9AC 130%, #00D4F0 131%, #00D4F0 140%),
  radial-gradient(closest-side, transparent 0%, transparent 75%, #0C61F8 76%, #0C61F8 85%, #0CF890 86%, #0CF890 94%, #A7A9AC 95%, #A7A9AC 103%, #0B8BD9 104%, #0B8BD9 112%, #0BD9B8 113%, #0BD9B8 121%, #A7A9AC 122%, #A7A9AC 130%, #00D4F0 131%, #00D4F0 140%);
  background-size: 110px 110px;
  background-color: #0CF890;
  background-position: 0 0, 55px 55px;

}



#colophon h6{
  padding:20px;
  margin:0;
  text-align:center;
  color:#fff;
  font-size:.8em;
  text-transform:uppercase;
  font-weight: bold;
}

#additional-elements h2{
  color:#blue;
  border-bottom: 3px double #green;
}

#additional-elements a:link, #additional-element a:visited{
  color: #purple;
}

#additional-element a:visted, #additional-elements a:visited{
  text-decoration:none;
}

#additional-elements h3{
  border-left: 5px soliid #yellow;
  padding: 10px 10px;
}

table{
  width:100%;
  border:1px solid #c0c0c0;
  border-collapse:collapse;
}

table caption{
  color:#3b638b;
  padding:10px;
  font-weight:bold;
  font-size:1.4rem;
}

table tr:nth-child(even){
  background: rgba(0,0,0,.1)
}

table tr:hover{
  background: rgba(0,0,0,.2)
}

table th{
  background-color:#172635;
  color:#ffffff;
  width:33%;
  padding:10px;
}

table td {
  border:1px solid #c0c0c0;
  padding:5px;
}

#additional-elements ol{
  list-style-type:upper-roman;
}

#additional-elements li{

}

#additional-elements ul ul{
  list-style-type:square;
}

#additional-elements dl{
  line-height:1.5
}

#additional-elements dt{
  font-weight:bold;
  font-size:1.2rem;
}

#additional-elements dd{
  margin:0;
}

dd + dt{
  margin-top:1.4rem;
}

#additional-elements blockquote{
  background:rgba(0,0,0,.15);
  padding: 40px 60px;
  border:5px double grey;
  border-radius:16px;
  font-size:1.2em;
}

#additional-elements cite{
  display:block;
  font-size:.6em;
  text-align:right;
  margin-top:1.5rem;
  font-weight:bold;
}



















@media screen and (max-width:690px){
  
  header.primary nav ul {
    flex-direction:column;
    max-width:400px;
    margin:0 auto;
  }
  
  
  header.primary nav a{
    display:block;
  }
  
  
}





