/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header.primary nav{
  width: 80vw;
  margin: 20px auto;
  max-width: 1000px;
}

header.primary nav ul{
  display:flex;
  flex-direction: row;
  justify-content: spaace-around;
  padding:0;
  
}
header.primary nav a:link,
header.primary nav a:visted{
  color: #fff;
  text-decoraation: none;
  background: #000;
  background: rgba(0,0,0,0,4);
  display: block;
  padding: 8px 16px;
  border-radius: 20px;
  transition: .6s;
}

headeer.primary nav a:hover{
  background: rgba(0,0,0,8);
}

headeer.primary h1{
  text-align: center;
  color: #3AAAD8;
  padding: 40px,40px,60px,40px;
  text-shadow: 2px 2px #000;
}

headeer.primary h1 a{
  color: #ffffff;
  text-decoration: none;
}


.container{
  width:80vw;
  margin:40px auto;
  max-width:1000px;
}
#into p{
  line-height:1.5em;
  color: #fff;
}

 #intro h2{
   font-family: 'Rancho',cursive;
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Responsive Images---- should be at the top of all css*/
img{
  margin: auto;
  width:auto;
  height:auto;
}

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}




/*-------------------Global Styles--------------------------------------*/



#intro p{
  line-height:1.5em;
  color:#fff;
  
}

#content{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  border-bottom: 5px groove #AE1A13;
  padding-bottom: 2.5em;
}


#intro h5{
  text-align: center;
  font-size: 16px;
}
  .header h3{
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 40px 40px 60px 40px;
    text-align: center;
  }


table.center{
  margin-left:auto;
  margin-right:auto;
}
table{
  margin: 60px;
  width:100%;
  border:3px solid #000;
  border-collapse: collapse;
  color:#000;

}
table caption{
  padding:20px;
  font-weight:bold;
  font-size: 1.5em;
  color:#fff;
}
tr{
  background:#fff;
}

tr:hover{
  background:white;
}
th{
  background:#ccc2bb;
  color:#000;
  padding:10px;
}
td{ 
  border:3px solid #000;
  padding:10px;
  }



@media screen and (max-width:600px){

 

aside.column left{
    float:left;
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    box-shadow: 5px 0 5px -5px ;
}

aside.column right{
    float:right;
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    box-shadow: 5px 0 5px -5px ;
}
/* Create two equal columns that sits next to each other */
.column {
  float:right;
  flex: 50%;
  width: 50%;
  padding: 10px;
}



